<%= simple_form_for controversy do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :title %>
      <%= f.input :subtitle %>
      <%= f.button :submit, 'Enregistrer', class: button_classes %>
    </div>
    <div class="col-lg-6">
      <%= f.input :text, input_html: { rows: 10 } %>
      <%= f.input :data, input_html: { id: 'data' } %>
    </div>
  </div>
<% end %>


<div class="ce-example">
  <div class="ce-example__content _ce-example__content--small">
    <div id="editorjs"></div>
  </div>
  <div class="ce-example__output">
    <pre class="ce-example__output-content" id="output"></pre>
  </div>
</div>

<link rel="stylesheet" href="https://raw.githubusercontent.com/codex-team/editor.js/next/public/assets/demo.css" />

<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>

<script>
var editor = new EditorJS({
  holder: 'editorjs',
  tools: {
    header: Header,
    image: SimpleImage,
    quote: Quote
  },
  data: <%= raw controversy.data.to_json %>,
  onChange: function (event) {
    console.log(event);
    editor.save()
      .then((savedData) => {
        document.getElementById("data").innerHTML = JSON.stringify(savedData);
      })
      .catch((error) => {
        console.error('Saving error', error);
      });
  }
});
</script>