<%= simple_form_for controversy do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :title %>
      <%= f.input :subtitle %>
      <%= f.button :submit, 'Enregistrer', class: button_classes %>
    </div>
    <div class="col-lg-6">
      <%= f.input :text, input_html: { rows: 10 } %>
    </div>
  </div>
<% end %>
