<%= content_for :title, @controversy %>

<%#= link_to "Modifier", edit_controversy_path(@controversy), class: button_classes %>

<div class="mb-5 lead">
  <%= link_to controversy_fragments_path(@controversy), class: 'pe-5' do %>
    Fragments
    <%= bootstrap_icon "arrow-right" %>
  <% end %>
  <%= link_to controversy_concepts_path(@controversy) do %>
    Concepts
    <%= bootstrap_icon "arrow-right" %>
  <% end %>
</div>