<%= simple_form_for [@controversy, @concept] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :title %>
      <%= f.input :slug %>
      <%= f.input :description %>
    </div>
    <div class="col-lg-6">
      <%= f.association :fragments, 
                        collection: @controversy.fragments.ordered, 
                        as: :check_boxes %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Enregistrer', class: button_classes %>
  </div>
<% end %>
